{% extends 'base.html' %} {% block content %}
<script src="../static/js/song_sheet.js"></script>
<link rel="stylesheet" href="../static/css/APlayer.min.css" />

<br /><br /><br />
<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form
      action=""
      method="post"
      name="submit"
      class="text-center"
      novalidate="novalidate"
    >
      <input
        type="text"
        class="form-control"
        placeholder="请输入感兴趣的音乐名、歌手名"
        name="search_content"
        maxlength="128"
      />
    </form>
  </div>
</div>
<br /><br />
<div class="col-md-12">
  <!--audio标签控制：https://www.w3school.com.cn/tags/tag_audio.asp-->
  <div class="col-md-12">
    <div style="height: 490px; overflow: auto">
      <table class="table" id="music_list">
        <tr>
          <th>歌曲名</th>
          <th>歌手名</th>
          <th>播放</th>
          <th>下载</th>
          {% if not current_user.is_anonymous %}
          <th>加入歌单</th>
          {% endif %}
        </tr>
        {% for music in Musics %}
        <tr>
          <th>{{music.music_name}}</th>
          <th>{{music.singer_name}}</th>
          <th>
            <input
              id="{{music.music_id}}"
              name="play"
              type="image"
              src="../static/css/play.svg"
              height="25"
              width="25"
              value="0"
              onclick="player({{music.music_id}})"
            />
          </th>
          <th>
            <a
              href="../static/resource/{{music.music_type}}/{{music.singer_name}} - {{music.music_name}}.{{music.music_type}}"
              download="{{music.singer_name}} - {{music.music_name}}.{{music.music_type}}"
            >
              <img src="../static/css/download.svg" height="25" width="25" />
            </a>
          </th>
          {% if not current_user.is_anonymous %}
          <th>
            <button
              class="btn btn-primary"
              onclick="add_song({{music.music_id}})"
            >
              +
            </button>
          </th>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="aplayer" class="aplayer" value="0"></div>
  </div>
</div>
<script src="../static/js/APlayer.min.js"></script>
<script>
  var ap = new APlayer({
      container: document.getElementById('aplayer'),
      lrcType: 3,
  });
  ap.on('pause',function(){
    var s = document.getElementsByName("play");
      for (var i = 0; i < s.length; i++) {
        s[i].value = 0;
        s[i].src = "../static/css/play.svg";
      }
  });
  ap.on('play',function(){
    var a = document.getElementById("aplayer");
    var t = document.getElementById(a.value + "");
    t.src = "../static/css/pause.svg";
  });

    function getrealindex(M,id) {
      for(var i=0;i<M.length;i++)
      {
        if(M[i].music_id==id)return M[i];
      }
      return M[0];
    }
    function player(id)
    {
      var M={{Musics|safe}};
      var t=document.getElementById(id);
      if (t.value==1){
          var a=document.getElementById("aplayer");
          a.value=id;
          t.value=0;
          t.src="../static/css/play.svg"
          ap.pause();
        }
      else{
        var s=document.getElementsByName("play");
        for (var i=0;i<s.length;i++)
        {
          s[i].value=0;
          s[i].src="../static/css/play.svg";
        }
        t.value=1;
        var a=document.getElementById("aplayer");
        a.value=id;
        TEP=getrealindex(M,id);
        ap.destroy();
        ap=new APlayer({
          container: document.getElementById('aplayer'),
          lrcType: 3,
          audio: {
              name: TEP.music_name,
              artist: TEP.singer_name,
              url: "../static/resource/"+TEP.music_type+"/"+TEP.singer_name+" - "+TEP.music_name+"."+TEP.music_type,
              cover: "../static/resource/cover/"+TEP.singer_name+" - "+TEP.music_name+".jpg",
              lrc: "../static/resource/lrc/"+TEP.singer_name+" - "+TEP.music_name+".lrc"
          }
      });
        ap.on('pause',function(){
        var s = document.getElementsByName("play");
          for (var i = 0; i < s.length; i++) {
            s[i].value = 0;
            s[i].src = "../static/css/play.svg";
          }
        });
        ap.on('play',function(){
        var a = document.getElementById("aplayer");
        var t = document.getElementById(a.value + "");
        t.src = "../static/css/pause.svg";
        });
        ap.play();
        t.src="../static/css/pause.svg";
    }
    }
</script>
{% endblock %}
